.asset-show {
  background-color: black;
  color: white;
  border: none;
  width: 100%;
  height: 100%;
}

.asset-show-body {
  background-color: black;
  display: flex;
  width: fit-content;
  height: 100%;
  padding: 5%;
  margin: 0 auto;
  
}

.assetChartContainter {
  width: 600px;
  height: 400px;
}

.main-asset-chart {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.assetDetailsDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.assetDetails {
  border: 1px solid grey;
  border-radius: 5px;
  width: 280px;
  padding: 20px;
}

.asset-detail-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.border-bottom {
  border-bottom: 1px solid gray;
}

.about {
  margin-top: 40px;
}

.about-title, .stats-title {
  width: 100%;
  font-size: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.about-body, .stats-body{
  margin-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.chart-name {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select > options {
  background-color: #30363A;
  color: white;
}



.complete-title {
  font-weight: 15px;
  // padding: 10px 0;
}

.complete-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid gray;
  padding: 20px;
}

.complete-text {
  color: gray;
  padding: 20px;
}

.complete-button {
  width: 235px;
  margin: 20px;
}

.add-list-button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  padding:15px 20px 20px 20px;
  margin: 20px 0 0 50px;
  text-align: center;
  vertical-align: center;
  border: none;
  cursor: pointer;
  // margin-bottom: 20px;
}

.add-list-button.greenText {
  border: 1px solid #00C805;
  background-color: transparent;
  color: #00C805;
}
.add-list-button.redText {
  border: 1px solid #FF5000;
  background-color: transparent;
  color: #FF5000;
}

input[type=checkbox].watchlist-checkbox:checked:before {
  content: '✓';
  color: black;
  position: absolute;
  margin-left: -5px;
  margin-top: 1px;
}