.splash-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 45px;
    background: white;
    align-items: center;
    .login-btn {
        font-family: avenir;
        font-weight: bold;
        margin: 15px;
        font-size: 1.2em;
        border: 1px solid white;
        text-decoration: none;
        color: black

    }
    .signup-btn {
        color: black;
        background-color: rgb(29, 197, 29);
        font-family:avenir;
        font-weight: bold;
        margin: 15px;
        font-size: 18px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 12px;
        padding-bottom: 12px;
        border: 1px solid white;
        border-radius: 25px;
        text-decoration: none;
    }
    .btn:hover {
     background-color: rgb(240, 240, 240);
     box-shadow: 1px 1px 1px darkblue;
    }
  }

  #nav_bar {
    
}

.logo{
    font-weight: bold;
    font-size: 24px;
    font-family: avenir;
}