
  .news_box {    display: flex;
    flex-direction: column;
    padding-left: 24px;
  }
  .company-news-item-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    border-radius: 4px;
    text-decoration: none;

  }
  .company-news-item-link:hover {
    background-color: rgb(31,33,36);
  }
  .company-news-item-container {
    padding: 2px;
  }
  .news_source {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 24px 0 6px 0;
    color: white;
    text-decoration: none;
  }
  .news_headline {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 6px;
    color: white;
    text-decoration: none;
  }
  .news_summary {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 6px;
    color: gray
  }
  .news_img{
    margin: 24px 0;
    padding-right: 24px;
  }