.stats {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    padding: 0px 30px 30px 30px;
    color: white;
    font-family: avenir;
    
}

.stats_container {
    flex-direction: column;
    flex: 1;
    background-color: #1E2021;
    border-radius: 5px;
    border: 1px solid #42494B;
}

.stats_header {
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #42494B;
    padding: 20px 20px 10px 20px;
    font-weight: 500;
}

.row{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 0 24px;
    cursor: pointer;
}

.row:hover{
    background-color: #31363A
}

.row_intro h1{
    font-size: 16px;
    font-weight: bold; 
    padding-bottom: 2px;
    text-align: left;
    color: white;
}

.row_shares{
    font-size: 12px;
    color: white;
}

.row_numbers{
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.row_price{
    padding-bottom: 4px;
}

.row_percentage{
    color: #5AC53B
}

.row_chart{
    padding: 0 10px;
    
}

